body {
    margin: 0;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/736x/18/f2/a3/18f2a389e2e6cd7074d28518ac2a834e.jpg');
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  
  }
  