*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
  }
  
body{
    background: white;
    font-family:Optimistic;
}
.logo{
    position: fixed;
    top: 32px;
    left: 32px;
    width: 56px;
    height: 56px;
} 
.page{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 150px;
} 
.main{
    display: flex;
    align-items: center;
    min-height: 90vh;
} 
.left{
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headline{
    text-align: center;
    font-size: 43px;
    line-height: 1.3;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.gradient-text{
    background: linear-gradient(90deg, #ff5a00, #ff00a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.phone{
    width: 600px;
}
.divider{
    width: 1px;
    height: 700px;
    background: #e6e6e6;
    margin: 0 80px;
}
.right{
    width: 30%;
}
.right-title{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 14px;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.login-form input{
    height: 44px;
    padding: 0 14px;
    border-radius: 12px;
    border: 1px solid #dbdbdb;
    font-size: 12px;
}
.login-btn{
    height: 44px;
    border-radius: 999px;
    border: none;
    background: #a7c5f9;
    color: white;
    font-weight: 700;
}
.login-btn:active{
    background: #1a5ac7;
}
.forgot{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 999px;
    border: 1px solid white;
    font-size: 14px;
    font-weight: 600;
    color: #111;
    text-decoration: none;
    margin-bottom: 20px;
}
.forgot:hover,.fb-btn:hover, .create-btn:hover{
    background: rgb(239, 239, 239);
}
.fb-btn, .create-btn{
    height: 44px;
    border-radius: 999px;
    border: 1px solid #dbdbdb;
    background: white;
    font-weight: 600;
}
.create-btn{
    color: #1877f2;
    border-color:#1877f2;
}
.footer{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    font-size: 12px;
    color: #777;
}
.footer a{
    color: #777;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 10px;
}
#fb-logo{
    width: 18px;
    padding-right: 5px;
}
.meta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 14px;
}
#meta-logo{
    width: 23px;
}
.footer-divider{
    width: 100vw;
    height: 1px;
    background: #e6e6e6;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  } 
select{
    border: none;
    color: #777;
}  

  